.planets-list {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid #e3e348;
  border-radius: 5px;
  box-shadow: 0 1px 4px #E3E348FF;
  width: calc(33.333% - 20px);
  transition: 0.3s;
}

.planets-list:hover {
  background-color: #ECE9F2;
  color: #384047;
}

.planet-icon {
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.planets-list:hover .planet-icon {
  transform: translateY(-7px);
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-page {
  background-color: transparent;
  color: white;
  border: 2px solid #e3e348;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
}

.btn-page:hover {
  background-color: #e3e348;
  color: #384047;
}

.btn-page:disabled, .btn-page:disabled:hover {
  color: #b3b3b3;
  border-color: #b3b3b3;
  cursor: not-allowed;
  background-color: transparent;
}

@media (max-width: 800px) {
  .planets-list {
    width: 100%;
    margin: 10px 0;
  }
}
